*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display:flex;
    align-items: center;
    justify-content: center;
    min-width: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url("4.jpg");
    background-size: auto;
}
.container{
    width: 250px;
    height: auto;
    text-align: center;
    background: cornsilk;
    border-radius: 3px;
}
.container h2{
    text-align: left;
    padding: 10px;
    font-size: 16px;
    background: lemonchiffon;
    color: #333333;
    letter-spacing: 3px;
}
.container ul li{
    list-style: none;
}
.container ul li a{
    display: block;
    padding: 10px;
    text-decoration: none;
    font-weight: 700;
    color: #111010;
    font-size: 18px;
    text-transform: uppercase;
    transition: .1s;
    border: 1px solid #eeeeee;
}
.container:hover ul li a{
    color: #eeeeee;
}
.container ul li a:hover{
    color: #eeeeee;
    transform: scale(1.1);
    background: #168796;
    border: 1px solid #168796;
}
.container ul li a:hover::before{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    left: -1.5px;
    top: -12.5;
    border-style:solid ;
    border-width: 0 0 11.5px;
    border-color: transparent transparent #6f8813 transparent;
}
.container ul li a:hover::after{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    left: -1.5px;
    top: -12.5;
    border-style:solid ;
    border-width: 0 0 11.5px;
    border-color: transparent transparent #f555;
}